BOT_TOKEN= 8467752455:AAHY20USz1GY9KpQQFAms9qxOlOQa4yfS5U
JSONBIN_BIN_ID=69468d57d0ea881f40361a98
JSONBIN_MASTER_KEY=$2a$10$eCHhQtmSAhD8XqkrlFgE1O6N6OKwgmHrIg.G9hlrkDKIaex3GMuiW
ADMIN_TELEGRAM_ID=8382571809
WEBHOOK_URL=https://Creecly.pythonanywhere.com
PORT=3000
NODE_ENV=production



#|| 'https://Creecly.pythonanywhere.com/bot-webhook';